@{
    ViewData["Title"] = "Requests overview";
}

<h1>Sinu pöördumised</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Selgitus</th>
        <th>Millal tehtud</th>
        <th>Lahendatud?</th>
    </tr>
    @foreach (var request in Model)
    {
        <tr>
            <td>@request.Id</td>
            <td>@request.Description</td>
            <td>@request.Created_at</td>
            <td>@request.Solved</td>
        </tr>
    }
</table>